@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5">

    <div class="alert alert-danger">
        <h3>Something went wrong</h3>

        <p>
            @ViewBag.ErrorMessage
        </p>
    </div>

    <a href="/" class="btn btn-primary">Go Home</a>

</div>